= render 'shared/header'
= render 'shared/slide'
%main
  %h2
    人気のカテゴリー
  .category-lis
    %ul.ct-list
      %li.first-ct
        =link_to "#", class: "popular-ct" do
          レディース
      %li.second-ct
        =link_to "#", class: "popular-ct" do
          メンズ
      %li.third-ct
        =link_to "#", class: "popular-ct" do
          家電・スマホ・カメラ
      %li.forth-ct
        =link_to "#", class: "popular-ct" do
          おもちゃ・ホビー・グッズ
  .popular_itms
    .ladies_itms
      .ladies_titles{name: "scroll_one"}
        %h3.ladies_title レディース新着アイテム
        =link_to "#", class: "see_more_ladiesitm" do
          もっと見る
      .ladiesitm_links_container
        %div
          %ul.ladiesitm_links
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        1,888
                      = image_tag 'A955DC6E-D8D8-4A83-A9F5-0FED77CF93AF.jpg', alt: 'ipsa_lotion', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        1,888
                      = image_tag 'A955DC6E-D8D8-4A83-A9F5-0FED77CF93AF.jpg', alt: 'ipsa_lotion', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        1,888
                      = image_tag 'A955DC6E-D8D8-4A83-A9F5-0FED77CF93AF.jpg', alt: 'ipsa_lotion', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        1,888
                      = image_tag 'A955DC6E-D8D8-4A83-A9F5-0FED77CF93AF.jpg', alt: 'ipsa_lotion', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        1,888
                      = image_tag 'A955DC6E-D8D8-4A83-A9F5-0FED77CF93AF.jpg', alt: 'ipsa_lotion', class: 'ladies-recommend'
          %ul.ladiesitm_links
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        1,888
                      = image_tag 'A955DC6E-D8D8-4A83-A9F5-0FED77CF93AF.jpg', alt: 'ipsa_lotion', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        1,888
                      = image_tag 'A955DC6E-D8D8-4A83-A9F5-0FED77CF93AF.jpg', alt: 'ipsa_lotion', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        1,888
                      = image_tag 'A955DC6E-D8D8-4A83-A9F5-0FED77CF93AF.jpg', alt: 'ipsa_lotion', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        1,888
                      = image_tag 'A955DC6E-D8D8-4A83-A9F5-0FED77CF93AF.jpg', alt: 'ipsa_lotion', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        1,888
                      = image_tag 'A955DC6E-D8D8-4A83-A9F5-0FED77CF93AF.jpg', alt: 'ipsa_lotion', class: 'ladies-recommend'
    .ladies_itms     
      .ladies_titles{name: "scroll_one"}
        %h4.ladies_title メンズ新着アイテム
        =link_to "#", class: "see_more_ladiesitm" do
          もっと見る
      .ladiesitm_links_container
        %div
          %ul.ladiesitm_links
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag 'C2DEC124-7C36-43C8-90DC-6C5A398C9077.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag 'C2DEC124-7C36-43C8-90DC-6C5A398C9077.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag 'C2DEC124-7C36-43C8-90DC-6C5A398C9077.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag 'C2DEC124-7C36-43C8-90DC-6C5A398C9077.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag 'C2DEC124-7C36-43C8-90DC-6C5A398C9077.jpg', alt: 'icecream', class: 'ladies-recommend'
          %ul.ladiesitm_links
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag 'C2DEC124-7C36-43C8-90DC-6C5A398C9077.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag 'C2DEC124-7C36-43C8-90DC-6C5A398C9077.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag 'C2DEC124-7C36-43C8-90DC-6C5A398C9077.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag 'C2DEC124-7C36-43C8-90DC-6C5A398C9077.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag 'C2DEC124-7C36-43C8-90DC-6C5A398C9077.jpg', alt: 'icecream', class: 'ladies-recommend'
    .ladies_itms
      .ladies_titles{name: "scroll_one"}
        %h3.ladies_title 家電・スマホ・カメラ新着アイテム
        =link_to "#", class: "see_more_ladiesitm" do
          もっと見る
      .ladiesitm_links_container
        %div
          %ul.ladiesitm_links
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '17A4C29F-D61B-4DC5-8575-5A9EC2BECFE2.jpg', alt: 'likey-lip', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '17A4C29F-D61B-4DC5-8575-5A9EC2BECFE2.jpg', alt: 'likey-lip', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '17A4C29F-D61B-4DC5-8575-5A9EC2BECFE2.jpg', alt: 'likey-lip', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '17A4C29F-D61B-4DC5-8575-5A9EC2BECFE2.jpg', alt: 'likey-lip', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '17A4C29F-D61B-4DC5-8575-5A9EC2BECFE2.jpg', alt: 'likey-lip', class: 'ladies-recommend'
          %ul.ladiesitm_links
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '17A4C29F-D61B-4DC5-8575-5A9EC2BECFE2.jpg', alt: 'likey-lip', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '17A4C29F-D61B-4DC5-8575-5A9EC2BECFE2.jpg', alt: 'likey-lip', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '17A4C29F-D61B-4DC5-8575-5A9EC2BECFE2.jpg', alt: 'likey-lip', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '17A4C29F-D61B-4DC5-8575-5A9EC2BECFE2.jpg', alt: 'likey-lip', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '17A4C29F-D61B-4DC5-8575-5A9EC2BECFE2.jpg', alt: 'likey-lip', class: 'ladies-recommend'
            
    .ladies_itms
      .ladies_titles{name: "scroll_one"}
        %h3.ladies_title おもちゃ・ホビー・グッズ新着アイテム
        =link_to "#", class: "see_more_ladiesitm" do
          もっと見る
      .ladiesitm_links_container
        %div
          %ul.ladiesitm_links
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        440
                      = image_tag '085F1645-8FF3-4D0E-B5AF-A32164D61B24.jpg', alt: 'red-rose', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        440
                      = image_tag '085F1645-8FF3-4D0E-B5AF-A32164D61B24.jpg', alt: 'ired-rose', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        440
                      = image_tag '085F1645-8FF3-4D0E-B5AF-A32164D61B24.jpg', alt: 'red-rose', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        440
                      = image_tag '085F1645-8FF3-4D0E-B5AF-A32164D61B24.jpg', alt: 'red-rose', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        440
                      = image_tag '085F1645-8FF3-4D0E-B5AF-A32164D61B24.jpg', alt: 'red-rose', class: 'ladies-recommend'
          %ul.ladiesitm_links
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        440
                      = image_tag '085F1645-8FF3-4D0E-B5AF-A32164D61B24.jpg', alt: 'red-rose', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        440
                      = image_tag '085F1645-8FF3-4D0E-B5AF-A32164D61B24.jpg', alt: 'ired-rose', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        440
                      = image_tag '085F1645-8FF3-4D0E-B5AF-A32164D61B24.jpg', alt: 'red-rose', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        440
                      = image_tag '085F1645-8FF3-4D0E-B5AF-A32164D61B24.jpg', alt: 'red-rose', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        440
                      = image_tag '085F1645-8FF3-4D0E-B5AF-A32164D61B24.jpg', alt: 'red-rose', class: 'ladies-recommend'
  %h2
    人気のブランド
  .category-lis
    %ul.ct-list
      %li.first-ct
        =link_to "#", class: "popular-ct" do
          シャネル
      %li.second-ct
        =link_to "#", class: "popular-ct" do
          ルイヴィトン
      %li.third-ct
        =link_to "#", class: "popular-ct" do
          シュプリーム
      %li.forth-ct
        =link_to "#", class: "popular-ct" do
          ナイキ
  .popular_itms
    .ladies_itms     
      .ladies_titles{name: "scroll_one"}
        %h4.ladies_title シャネル新着アイテム
        =link_to "#", class: "see_more_ladiesitm" do
          もっと見る
      .ladiesitm_links_container
        %div
          %ul.ladiesitm_links
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag 'C74BEB99-C087-496C-96A4-9BFEB503F7D9.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag 'C74BEB99-C087-496C-96A4-9BFEB503F7D9.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag 'C74BEB99-C087-496C-96A4-9BFEB503F7D9.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag 'C74BEB99-C087-496C-96A4-9BFEB503F7D9.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag 'C74BEB99-C087-496C-96A4-9BFEB503F7D9.jpg', alt: 'icecream', class: 'ladies-recommend'
          %ul.ladiesitm_links
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag 'C74BEB99-C087-496C-96A4-9BFEB503F7D9.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag 'C74BEB99-C087-496C-96A4-9BFEB503F7D9.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag 'C74BEB99-C087-496C-96A4-9BFEB503F7D9.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag 'C74BEB99-C087-496C-96A4-9BFEB503F7D9.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag 'C74BEB99-C087-496C-96A4-9BFEB503F7D9.jpg', alt: 'icecream', class: 'ladies-recommend'
    .ladies_itms     
      .ladies_titles{name: "scroll_one"}
        %h4.ladies_title ルイヴィトン新着アイテム
        =link_to "#", class: "see_more_ladiesitm" do
          もっと見る
      .ladiesitm_links_container
        %div
          %ul.ladiesitm_links
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '254FBA49-6FFB-4EDC-8CA1-850860073124.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '254FBA49-6FFB-4EDC-8CA1-850860073124.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '254FBA49-6FFB-4EDC-8CA1-850860073124.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '254FBA49-6FFB-4EDC-8CA1-850860073124.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '254FBA49-6FFB-4EDC-8CA1-850860073124.jpg', alt: 'icecream', class: 'ladies-recommend'
          %ul.ladiesitm_links
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '254FBA49-6FFB-4EDC-8CA1-850860073124.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '254FBA49-6FFB-4EDC-8CA1-850860073124.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '254FBA49-6FFB-4EDC-8CA1-850860073124.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '254FBA49-6FFB-4EDC-8CA1-850860073124.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '254FBA49-6FFB-4EDC-8CA1-850860073124.jpg', alt: 'icecream', class: 'ladies-recommend'
    .ladies_itms     
      .ladies_titles{name: "scroll_one"}
        %h4.ladies_title シュプリーム新着アイテム
        =link_to "#", class: "see_more_ladiesitm" do
          もっと見る
      .ladiesitm_links_container
        %div
          %ul.ladiesitm_links
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '0FD70C9C-138C-4846-A63A-0C7785F5AB7B.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '0FD70C9C-138C-4846-A63A-0C7785F5AB7B.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '0FD70C9C-138C-4846-A63A-0C7785F5AB7B.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '0FD70C9C-138C-4846-A63A-0C7785F5AB7B.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '0FD70C9C-138C-4846-A63A-0C7785F5AB7B.jpg', alt: 'icecream', class: 'ladies-recommend'
          %ul.ladiesitm_links
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '0FD70C9C-138C-4846-A63A-0C7785F5AB7B.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '0FD70C9C-138C-4846-A63A-0C7785F5AB7B.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '0FD70C9C-138C-4846-A63A-0C7785F5AB7B.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '0FD70C9C-138C-4846-A63A-0C7785F5AB7B.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '0FD70C9C-138C-4846-A63A-0C7785F5AB7B.jpg', alt: 'icecream', class: 'ladies-recommend'
    .ladies_itms     
      .ladies_titles{name: "scroll_one"}
        %h4.ladies_title ナイキ新着アイテム
        =link_to "#", class: "see_more_ladiesitm" do
          もっと見る
      .ladiesitm_links_container
        %div
          %ul.ladiesitm_links
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '0158FF1F-FB33-4C6E-8711-02A21301E192.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '0158FF1F-FB33-4C6E-8711-02A21301E192.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '0158FF1F-FB33-4C6E-8711-02A21301E192.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '0158FF1F-FB33-4C6E-8711-02A21301E192.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '0158FF1F-FB33-4C6E-8711-02A21301E192.jpg', alt: 'icecream', class: 'ladies-recommend'
          %ul.ladiesitm_links
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '0158FF1F-FB33-4C6E-8711-02A21301E192.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '0158FF1F-FB33-4C6E-8711-02A21301E192.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '0158FF1F-FB33-4C6E-8711-02A21301E192.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '0158FF1F-FB33-4C6E-8711-02A21301E192.jpg', alt: 'icecream', class: 'ladies-recommend'
            %li.ladiesitm_one
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                =link_to "#", class: "ldies_itm_lnks" do
                  %figure.ladies_itm_lnk
                    %figcaption
                      %span
                        name
                      .style_figcaptions
                    .thumbnail_style_p
                      %span.label_price
                        ¥
                        350
                      = image_tag '0158FF1F-FB33-4C6E-8711-02A21301E192.jpg', alt: 'icecream', class: 'ladies-recommend'
  .new_itembox
    =link_to "#", class: "newitembox_link" do
      .new_itembox__btn
        %p.new_itembox__btn__text
          出品
        %i.fa.fa-camera

  -# = render 'shared/footer'
