.all-container
  / viewの全てを囲む
  %header.header
    %h1
      = link_to '#', class: "link", target: "_blank" do
        = image_tag 'merukari.svg' 

    %nav.progress-bar.signup-bar
      %ol.clearfix
        %li
          会員情報
          .progress-status
        %li.active
          電話番号認証
          .progress-status
        %li
          お届け先住所入力
          .progress-status
        %li
          支払い方法
          .progress-status
        %li
          完了
          .progress-status
        
  %main.main-view-container
    .main-view
      %h2.sub-header 電話番号認証
      -# %form.l-single-inner.registration-form{action: "#", method: "POST", novalidate: "novalidate"}
      = form_for @user, url: step4_signup_index_path, method: :get, html: {class: 'first-main__box'} do |f|
        %input{name: "after_save_callback", type: "hidden", value: ""}/
        .l-single-content
          .form-create
            .form-index
              %label.phone-number{for: "phone_number"} 認証番号
              -# %input.input-default{name: "phone_number", placeholder: "認証番号を入力", type: "tel", value:""}/
              = f.text_field :phone_number_conf, placeholder: '認証番号を入力',class: 'input-default'
            %p
              SMSで届いた認証番号を入力してください
            .last-content
              %button.next-page{type: "submit"} 認証して完了
        .l-single-content
          .form-create
            
            .form-index
              %label.phone-number{for: "phone_number"}
                30秒たっても認証番号が届かない方へ
              %p
                電話で認証番号を聞くこともできます。
            
            .last-content
              -# %button.next-page{type: "submit"} 認証して完了
              = f.submit class: 'next-page'
        .l-single-content
          .form-create
            
            .form-index
              %label.phone-number{for: "warning"}
                認証番号を再送することもできます。もう一度電話番号を入力して下さい。
              %a.right-messages
                = link_to '電話番号を再度入力する', "#", class: "right-messages" 
              %p.l-single-text
                ※SMSが届かない場合は
                %a.last-content2
                = link_to 'SMS受信設定', "#", class: "last-content2"
                を確認して、もう一度電話番号を入力してください。
= render 'shared/fotter'