= render 'shared/header'
%section.itm_box_container
  %h1.itm_name
    ラウンドクッション
  %p.itm_introduction
  .main_itm_container
    .itm_picture
      .itm_pictures
        .itm_picture_main
          .itm_picture_width
            .itm_picture_active
              .itm_picture_active__one
                = image_tag '950B1AAB-A6D9-442E-BF33-C3743A1E41EA.jpg', alt: 'クッション未使用', class: 'img_itm_one'
            .itm_picture_active
              .itm_picture_active__one
                = image_tag '8651F35B-510B-4510-A297-272226E55505.jpg', alt: 'クッション未使用', class: 'img_itm_one'
            .itm_picture_active
              .itm_picture_active__one
                = image_tag '0CEE4D9A-3157-4E09-8F94-A3BC37934600.jpg', alt: 'クッション未使用', class: 'img_itm_one'
            .itm_picture_active
              .itm_picture_active__one
                = image_tag '0C9FDF3F-0599-40D2-8B22-C1EE93CE08D1.jpg', alt: 'クッション未使用', class: 'img_itm_one'
          .itm_picture_disabled
            .itm_picture_disabled__prev
              prev
            .itm_picture_disabled__next
              next
          .img_reductions
            .img_reduction
              %span
              .img_reduction__one
                = image_tag '8651F35B-510B-4510-A297-272226E55505.jpg', alt: 'クッション未使用', class: 'img_itm_reduction'
            .img_reduction
              %span
              .img_reduction__one
                = image_tag '0CEE4D9A-3157-4E09-8F94-A3BC37934600.jpg', alt: 'クッション未使用', class: 'img_itm_reduction'
            .img_reduction
              %span
              .img_reduction__one
                = image_tag '0C9FDF3F-0599-40D2-8B22-C1EE93CE08D1.jpg', alt: 'クッション未使用', class: 'img_itm_reduction'
    .itm_pricebox
      %span.itm_pricee
        ¥4,500
      %span.itm_taxe
        (税込)
      %span.itm_shippingfee
        送料込み
    %section.goto_purchase
      .itmbtn_float
        =link_to "#", class: "itm_purchasebtn" do
          購入画面に進む
    %table.itm_detailbox
      .itm_detailbox_title
        .catego_title__one
          出品者
          .catego_title_dt
            =link_to "#" do
              名前
            %div
              .icon__ratings
                .iconlaugh
                  %i.fa.fa-laugh
                  %span
                    60
              .icon__ratings
                .iconmeh
                  %i.fa.fa-meh
                  %span
                    0
              .icon__ratings
                .iconfrown
                  %i.fa.fa-frown
                    %span
                      0
      .itm_detailbox_title
        .catego_title__one
          カテゴリー
          .catego_title_dt
            =link_to "#" do
              %div
                レディース
            =link_to "#" do
              .catego_title_dt__sub
                %i.fa.fa-chevron-right
                インテリア小物
            =link_to "#" do
              .catego_title_dt__sub__sub
                %i.fa.fa-chevron-right
                クッション
      .itm_detailbox_title
        .catego_title__one
          ブランド
          .catego_title_dt
            =link_to "#" do
              %div
                unknown
      .itm_detailbox_title
        .catego_title__one
          商品のサイズ
          .catego_title_dt
            M
      .itm_detailbox_title
        .catego_title__one
          商品の状態
          .catego_title_dt
            新品、未使用
      .itm_detailbox_title
        .catego_title__one
          配送料の負担
          .catego_title_dt
            送料込み（出品者負担）
      .itm_detailbox_title
        .catego_title__one
          配送の方法
          .catego_title_dt
            らくらくメルカリ便
      .itm_detailbox_title
        .catego_title__one
          配送現地域
          .catego_title_dt
            = link_to "#" do
              大阪府
      .itm_detailbox_title
        .catego_title__one
          配送日の目安
          .catego_title_dt
            １〜2日で発送
  .itm_pricebox
    %span.itm_pricee
      ¥4,500
      %span.itm_taxe
        (税込)
      %span.itm_shippingfee
        送料込み
  %section.goto_purchase
    .itmbtn_float
      =link_to "#", class: "itm_purchasebtn" do
        購入画面に進む
      =link_to "#", class: "itm_purchasebtn_byapp" do
        アプリで購入
  .itm_description
    %p.itm_description__inner
      ふわふわです
  .itm_btn_contain
    .itm_btn_lft
      =link_to "#", class: "itm_btn_likey" do
        %i.fa.fa-heart
        %span
          いいね
        %span.data_numb
          1
      =link_to "#", class: "itm_btn_report" do
        %i.fa.fa-flag
        %span
          不適切な商品の報告
    .itm_btn_rgt
      =link_to "#" do
        %i.fa.fa-user-lock
        %span
          あんしん・あんぜんへの取り組み
  .itm_dtl_msg
    .msg_container
      .msg_content
        %form.msgform{action: "#", method: "POST"}
          %input.msgform{name: "keyword", type: "hidden", value: ""}/
          %p
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %input{type: "hidden", name: "itmm_id", value: ""}
          %textarea{object_name, method}
      
  









          




