.side
  .mypage-option
    %ul.mypage-option__lists
      %li
        %a.mypage-option__lists__list{:href => "#"}
          マイページ
          = fa_icon 'chevron-right', class: 'icon'
      %li
        %a.mypage-option__lists__list{:href => "#"}
          お知らせ
          = fa_icon 'chevron-right', class: 'icon'
      %li
        %a.mypage-option__lists__list{:href => "#"}
          やることリスト
          = fa_icon 'chevron-right', class: 'icon'
      %li
        %a.mypage-option__lists__list{:href => "#"}
          いいね！！一覧
          = fa_icon 'chevron-right', class: 'icon'
      %li
        %a.mypage-option__lists__list{:href => "#"}
          出品する
          = fa_icon 'chevron-right', class: 'icon'
      %li
        %a.mypage-option__lists__list{:href => "#"}
          出品した商品-出品中
          = fa_icon 'chevron-right', class: 'icon'
      %li
        %a.mypage-option__lists__list{:href => "#"}
          出品した商品-取引中
          = fa_icon 'chevron-right', class: 'icon'
      %li
        %a.mypage-option__lists__list{:href => "#"}
          出品した商品-売却済み
          = fa_icon 'chevron-right', class: 'icon'
      %li
        %a.mypage-option__lists__list{:href => "#"}
          購入した商品-取引中
          = fa_icon 'chevron-right', class: 'icon'
      %li
        %a.mypage-option__lists__list{:href => "#"}
          購入した商品-過去の商品
          = fa_icon 'chevron-right', class: 'icon'
      %li
        %a.mypage-option__lists__list{:href => "#"}
          ニュース一覧
          = fa_icon 'chevron-right', class: 'icon'
      %li
        %a.mypage-option__lists__list{:href => "#"}
          評価一覧
          = fa_icon 'chevron-right', class: 'icon'
      %li
        %a.mypage-option__lists__list{:href => "#"}
          ガイド
          = fa_icon 'chevron-right', class: 'icon'
      %li
        %a.mypage-option__lists__list{:href => "#"}
          お問い合わせ
          = fa_icon 'chevron-right', class: 'icon'
    %h3.mypage-option__head メルペイ
    %ul.mypage-option__lists
      %li
        %a.mypage-option__lists__list{:href => "#"}
          残高・振り込み申請
          = fa_icon 'chevron-right', class: 'icon'
      %li
        %a.mypage-option__lists__list{:href => "#"}
          ポイント
          = fa_icon 'chevron-right', class: 'icon'
    %h3.mypage-option__head 設定
    %ul.mypage-option__lists
      %li
        %a.mypage-option__lists__list{:href => "#"}
          プロフィール
          = fa_icon 'chevron-right', class: 'icon'
      %li
        %a.mypage-option__lists__list{:href => "#"}
          発送元・お届け先住所変更
          = fa_icon 'chevron-right', class: 'icon'
      %li
        %a.mypage-option__lists__list{:href => "#"}
          支払い方法
          = fa_icon 'chevron-right', class: 'icon'
      %li
        %a.mypage-option__lists__list{:href => "#"}
          メール・パスワード
          = fa_icon 'chevron-right', class: 'icon'
      %li
        %a.mypage-option__lists__list{:href => "#"}
          本人情報
          = fa_icon 'chevron-right', class: 'icon'
      %li
        %a.mypage-option__lists__list{:href => "#"}
          電話番号確認
          = fa_icon 'chevron-right', class: 'icon'
      %li
        %a.mypage-option__lists__list{:href => "#"}
          ログアウト
          = fa_icon 'chevron-right', class: 'icon'
      
