.side
  .mypage-option
    %ul.mypage-option__lists
      %li
        = link_to "#", class: "mypage-option__lists__list" do
          マイページ
          = fa_icon 'chevron-right', class: 'icon'
      %li
        = link_to "#", class: "mypage-option__lists__list" do
          お知らせ
          = fa_icon 'chevron-right', class: 'icon'
      %li
        = link_to "#", class: "mypage-option__lists__list" do
          やることリスト
          = fa_icon 'chevron-right', class: 'icon'
      %li
        = link_to "#", class: "mypage-option__lists__list" do
          いいね！！一覧
          = fa_icon 'chevron-right', class: 'icon'
      %li
        = link_to " /sells/new", class: "mypage-option__lists__list" do
          出品する
          = fa_icon 'chevron-right', class: 'icon'
      %li
        = link_to "#", class: "mypage-option__lists__list" do
          出品した商品-出品中
          = fa_icon 'chevron-right', class: 'icon'
      %li
        = link_to "#", class: "mypage-option__lists__list" do
          出品した商品-取引中
          = fa_icon 'chevron-right', class: 'icon'
      %li
        = link_to "#", class: "mypage-option__lists__list" do
          出品した商品-売却済み
          = fa_icon 'chevron-right', class: 'icon'
      %li
        = link_to "#", class: "mypage-option__lists__list" do
          購入した商品-取引中
          = fa_icon 'chevron-right', class: 'icon'
      %li
        = link_to "#", class: "mypage-option__lists__list" do
          購入した商品-過去の商品
          = fa_icon 'chevron-right', class: 'icon'
      %li
        = link_to "#", class: "mypage-option__lists__list" do
          ニュース一覧
          = fa_icon 'chevron-right', class: 'icon'
      %li
        = link_to "#", class: "mypage-option__lists__list" do
          評価一覧
          = fa_icon 'chevron-right', class: 'icon'
      %li
        = link_to "#", class: "mypage-option__lists__list" do
          ガイド
          = fa_icon 'chevron-right', class: 'icon'
      %li
        = link_to "#", class: "mypage-option__lists__list" do
          お問い合わせ
          = fa_icon 'chevron-right', class: 'icon'
    %h3.mypage-option__head メルペイ
    %ul.mypage-option__lists
      %li
        = link_to "#", class: "mypage-option__lists__list" do
          残高・振り込み申請
          = fa_icon 'chevron-right', class: 'icon'
      %li
        = link_to "#", class: "mypage-option__lists__list" do
          ポイント
          = fa_icon 'chevron-right', class: 'icon'
    %h3.mypage-option__head 設定
    %ul.mypage-option__lists
      %li
        = link_to "/mypages/:id/edit", class: "mypage-option__lists__list" do
          プロフィール
          = fa_icon 'chevron-right', class: 'icon'
      %li
        = link_to "#", class: "mypage-option__lists__list" do
          発送元・お届け先住所変更
          = fa_icon 'chevron-right', class: 'icon'
      %li
        = link_to "/creditpages", class: "mypage-option__lists__list" do
          支払い方法
          = fa_icon 'chevron-right', class: 'icon'
      %li
        = link_to "#", class: "mypage-option__lists__list" do
          メール・パスワード
          = fa_icon 'chevron-right', class: 'icon'
      %li
        = link_to "/mypages/update", class: "mypage-option__lists__list" do
          本人情報
          = fa_icon 'chevron-right', class: 'icon'
      %li
        = link_to "#", class: "mypage-option__lists__list" do
          電話番号確認
          = fa_icon 'chevron-right', class: 'icon'
      %li
        = link_to "/users/sign_out", method: 'delete', class: "mypage-option__lists__list" do
          ログアウト
          = fa_icon 'chevron-right', class: 'icon'
      
