.mypage-container
  = render 'mypage-header'
  - breadcrumb :mypage_identification
  = render 'mypages/bread-crumbs'
%main.container
  = render 'shared/side_bar'
  .content
    %section.chapter-container
      %h2.chapter__head 本人情報の登録
      .form
        %div
          %p
            お客さまの本人情報をご登録ください。
            %br
            登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          %p.text-right
            = link_to "本人確認書類のアップロードについて", target: "_blank"
            = fa_icon 'chevron-right', class: 'icon'
        .form-group
          %label お名前
          %p 清藤 新太
        .form-group
          %label お名前カナ
          %p キヨフジ アラタ
        .form-group
          %label{for: "birthday"} 生年月日
          %p 2000/05/26
        .form-group
          %label{for: "zip-code"} 郵便番号
          %span.form-arbitrary 任意
          %input.input-default{name: "zip-code", placeholder: "例) 1234567", type: "text", value: ""}/
        .form-group
          %label{for: "prefecture"} 都道府県
          %span.form-arbitrary 任意
          .select-wrap
            = fa_icon 'angle-down', class: 'icon'
            .select-default{name: "preecture"}
            
        .form-group
          %label{for: "city"} 市区町村
          %span.form-arbitrary 任意
          %input.input-default{name: "city", placeholder: "例) 横浜市緑区", type: "text", value: ""}/
        .form-group
          %label{for: "address1-label"} 番地
          %span.form-arbitrary 任意
          %input.input-default{name: "address1", placeholder: "例) 青山1-1-1", type: "text", value: ""}/
        .form-group
          %label{for: "address2-label"} 建物名
          %span.form-arbitrary 任意
          %input.input-default{name: "address2", placeholder: "例) 柳ビル103", type: "text", value: ""}
        %button.btn-default.btn-red{type: "submit"} 登録する
        .form-group.text-right
          %p
            = link_to "本人情報の登録について"
            = fa_icon 'chevron-right', class: 'icon'
= render 'shared/banner'
= render 'shared/footer'
