= render 'mypages/mypage-header'
=render 'shared/side_bar'

.payy_container
  .how_to_pay_container
    .how_to_pay_container__title
      支払い方法
    .how_to_pay_container__inner
      .how_to_info
        .how_to_info__one
          クレジットカード一覧
        %ul.setpay_lists
          %li.setpay_lists__number
            .setpay_lists__detail
              .setpay_lists__detail__numb
                = "**** **** **** " + @default_card_information.last4
                %br
                - exp_month = @default_card_information.exp_month.to_s
                - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                = exp_month + " / " + exp_year
                = form_tag(delete_cards_path, method: :post, id: 'charge-form',  name: "inputForm") do
                  %input{ type: "hidden", name: "card_id", value: "" }
                  %button{type: "submit", class:setpay_lists__delete}
                    削除する
      .about_paymentt
        = link_to "#" , class: "about_paymentt__detail" do
          支払い方法について


=render 'shared/camera'
=render 'shared/banner'
=render 'shared/footer.haml'